<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="br.com.i9xp.garantiaverde"
        version="1.0.0">

    <name>Garantia Verde</name>

    <description>
        O app Garantia Verde oferece um serviço de coleta, manejo de resíduos e reciclagem de produtos eletroeletrônicos velhos ou sem condições de uso. Por meio dele, qualquer pessoa ou empresa pode se desfazer de seus aparelho da maneira correta.
    </description>

    <author href="http://www.i9xp.com.br" email="igor@i9xp.com.br">
       Igor Pfeilsticker
    </author>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />

    <preference name="android-minSdkVersion" value="16" />
    <platform name="android" />
	

    <icon src="icon.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />
	
	<plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
	
	<content src="https://www.descartecerto.com.br/descarteaqui/index.php" />
    <access origin="*" />

</widget>
